<section>
    <div class="container-content">
        <div class="row">
            <div class="col-4">
                <ul class="list">
                    <li class="list-item" >
                        <h3 class="title">Đọc nhiều tuần</h3>
                        <div class="list-item-group ">
                            <div class="d-flex " style="margin-left: -8px;">
                                <img src="../../../assets/img/gold-medal.png" alt="hạng 1" class="list-item-group__img ml-0">
                                <div class="list-item-group__information">
                                    <h3 class="list-item-group__information-title"> <a href="" class="list-item-group__information-title-link" >Vạn Cổ Thần Đế</a> </h3>
                                    <div class="d-flex align-items-center"> <span class="text-success">23131</span><i class="fas fa-eye ml-2"></i></div>
                                    <span class="d-flex align-items-center"> <i class="fas fa-user-edit"></i> <span class="ml-3">Phi Thiên Ngư</span></span>
                                    <span class="d-flex align-items-center"><i class="fas fa-book"></i> <span class="ml-3">Huyền Huyễn</span></span>
                                </div>
                            </div>
                            <div class="box">
                                <a href="" class="box-link">
                                    <img src="https://static.cdnno.com/poster/van-co-than-de/150.jpg?1585205583" alt="ảnh truyện" class="box-link__img">
                                </a>
                            </div>
                        </div>
                    </li>
                    <li class="list-item">
                        <div class="list-item-group">
                            <div class="d-flex align-items-center ">
    
                                <img src="../../../assets/img/medal.png" alt="hạng 2" class="list-item-group__img">
                                <h3 class="list-item-group__information-title"> <a href="" class="list-item-group__information-title-link" >Đỉnh Cấp Khí Vận, Lặng Lẽ Tu Luyện Ngàn Năm</a> </h3>
                            </div>
                            <span class="view">12321</span>
                        </div>
                    </li>
                    <li class="list-item">
                        <div class="list-item-group">
                            <div class="d-flex align-items-center ">
                                <img src="../../../assets/img/medal (1).png" alt="hạng 3" class="list-item-group__img">
                                <h3 class="list-item-group__information-title"> <a href="" class="list-item-group__information-title-link" >Đỉnh Cấp Khí Vận, Lặng Lẽ Tu Luyện Ngàn Năm</a> </h3>
                            </div>
                            <span class="view">12321</span>
                        </div>
                    </li>
                    <li class="list-item">
                        <div class="list-item-group">
                            <div class="d-flex align-items-center ">
                                <span class="index">4</span>
                                <h3 class="list-item-group__information-title"> <a href="" class="list-item-group__information-title-link" >Đỉnh Cấp Khí Vận, Lặng Lẽ Tu Luyện Ngàn Năm</a> </h3>
                            </div>
                            <span class="view">12321</span>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="col-4">
                <ul class="list">
                    <li class="list-item" >
                        <h3 class="title">Đọc nhiều tuần</h3>
                        <div class="list-item-group ">
                            <div class="d-flex " style="margin-left: -8px;">
                                <img src="../../../assets/img/gold-medal.png" alt="hạng 1" class="list-item-group__img ml-0">
                                <div class="list-item-group__information">
                                    <h3 class="list-item-group__information-title"> <a href="" class="list-item-group__information-title-link" >Vạn Cổ Thần Đế</a> </h3>
                                    <div class="d-flex align-items-center"> <span class="text-success">23131</span><i class="fas fa-eye ml-2"></i></div>
                                    <span class="d-flex align-items-center"> <i class="fas fa-user-edit"></i> <span class="ml-3">Phi Thiên Ngư</span></span>
                                    <span class="d-flex align-items-center"><i class="fas fa-book"></i> <span class="ml-3">Huyền Huyễn</span></span>
                                </div>
                            </div>
                            <div class="box">
                                <a href="" class="box-link">
                                    <img src="https://static.cdnno.com/poster/van-co-than-de/150.jpg?1585205583" alt="ảnh truyện" class="box-link__img">
                                </a>
                            </div>
                        </div>
                    </li>
                    <li class="list-item">
                        <div class="list-item-group">
                            <div class="d-flex align-items-center ">
    
                                <img src="../../../assets/img/medal.png" alt="hạng 2" class="list-item-group__img">
                                <h3 class="list-item-group__information-title"> <a href="" class="list-item-group__information-title-link" >Đỉnh Cấp Khí Vận, Lặng Lẽ Tu Luyện Ngàn Năm</a> </h3>
                            </div>
                            <span class="view">12321</span>
                        </div>
                    </li>
                    <li class="list-item">
                        <div class="list-item-group">
                            <div class="d-flex align-items-center ">
                                <img src="../../../assets/img/medal (1).png" alt="hạng 3" class="list-item-group__img">
                                <h3 class="list-item-group__information-title"> <a href="" class="list-item-group__information-title-link" >Đỉnh Cấp Khí Vận, Lặng Lẽ Tu Luyện Ngàn Năm</a> </h3>
                            </div>
                            <span class="view">12321</span>
                        </div>
                    </li>
                    <li class="list-item">
                        <div class="list-item-group">
                            <div class="d-flex align-items-center ">
                                <span class="index">4</span>
                                <h3 class="list-item-group__information-title"> <a href="" class="list-item-group__information-title-link" >Đỉnh Cấp Khí Vận, Lặng Lẽ Tu Luyện Ngàn Năm</a> </h3>
                            </div>
                            <span class="view">12321</span>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="col-4">
                <ul class="list">
                    <li class="list-item" >
                        <h3 class="title">Đọc nhiều tuần</h3>
                        <div class="list-item-group ">
                            <div class="d-flex " style="margin-left: -8px;">
                                <img src="../../../assets/img/gold-medal.png" alt="hạng 1" class="list-item-group__img ml-0">
                                <div class="list-item-group__information">
                                    <h3 class="list-item-group__information-title"> <a href="" class="list-item-group__information-title-link" >Vạn Cổ Thần Đế</a> </h3>
                                    <div class="d-flex align-items-center"> <span class="text-success">23131</span><i class="fas fa-eye ml-2"></i></div>
                                    <span class="d-flex align-items-center"> <i class="fas fa-user-edit"></i> <span class="ml-3">Phi Thiên Ngư</span></span>
                                    <span class="d-flex align-items-center"><i class="fas fa-book"></i> <span class="ml-3">Huyền Huyễn</span></span>
                                </div>
                            </div>
                            <div class="box">
                                <a href="" class="box-link">
                                    <img src="https://static.cdnno.com/poster/van-co-than-de/150.jpg?1585205583" alt="ảnh truyện" class="box-link__img">
                                </a>
                            </div>
                        </div>
                    </li>
                    <li class="list-item">
                        <div class="list-item-group">
                            <div class="d-flex align-items-center ">
    
                                <img src="../../../assets/img/medal.png" alt="hạng 2" class="list-item-group__img">
                                <h3 class="list-item-group__information-title"> <a href="" class="list-item-group__information-title-link" >Đỉnh Cấp Khí Vận, Lặng Lẽ Tu Luyện Ngàn Năm</a> </h3>
                            </div>
                            <span class="view">12321</span>
                        </div>
                    </li>
                    <li class="list-item">
                        <div class="list-item-group">
                            <div class="d-flex align-items-center ">
                                <img src="../../../assets/img/medal (1).png" alt="hạng 3" class="list-item-group__img">
                                <h3 class="list-item-group__information-title"> <a href="" class="list-item-group__information-title-link" >Đỉnh Cấp Khí Vận, Lặng Lẽ Tu Luyện Ngàn Năm</a> </h3>
                            </div>
                            <span class="view">12321</span>
                        </div>
                    </li>
                    <li class="list-item">
                        <div class="list-item-group">
                            <div class="d-flex align-items-center ">
                                <span class="index">4</span>
                                <h3 class="list-item-group__information-title"> <a href="" class="list-item-group__information-title-link" >Đỉnh Cấp Khí Vận, Lặng Lẽ Tu Luyện Ngàn Năm</a> </h3>
                            </div>
                            <span class="view">12321</span>
                        </div>
                    </li>
                    
                </ul>
            </div>
        </div>
    </div>
</section>
