<h3 class="title">Đang đọc</h3>
<ul class="book-history">
    <li class="book-history__item">
        <div class="group">
            <a href="">
                <img src="https://static.cdnno.com/poster/dan-hoang-vo-de/150.jpg?1585205609" alt="ảnh truyện" class="book-history__item-img">
            </a>
            <div class="book-history__item-information">
                <a href="">
                    <h3 class="book-history__item-information__title">Đan Hoàng Võ Đế</h3>
                </a>
                <span class="book-history__item-information__read">Đã đọc: <span>11</span>/ <span>23</span> </span>
                <i class="fas fa-trash icon"></i>
            </div>
        </div>
        <a href="">
            <span class="book-history__item-next">Đọc tiếp</span>
            
        </a>
    </li>
    <li class="book-history__item">
        <div class="group">
            <a href="">
                <img src="https://static.cdnno.com/poster/dan-hoang-vo-de/150.jpg?1585205609" alt="ảnh truyện" class="book-history__item-img">
            </a>
            <div class="book-history__item-information">
                <a href="">
                    <h3 class="book-history__item-information__title">Đan Hoàng Võ Đế</h3>
                </a>
                <span class="book-history__item-information__read">Đã đọc: <span>11</span>/ <span>23</span> </span>
                <i class="fas fa-trash icon"></i>
            </div>
        </div>
        <a href="">
            <span class="book-history__item-next">Đọc tiếp</span>
            
        </a>
    </li>
</ul>
<hr>
<h2 class="title">Hướng dẫn</h2>
<ul class="list-instruct">
    <li class="list-instruct__item">
        <a href="" class="list-instruct__item-link">Số liệu "Đã đọc" trong đánh giá truyện là gì?</a>
    </li>
    <li class="list-instruct__item">
        <a href="" class="list-instruct__item-link">Tôi muốn biết đang có bao nhiêu Kẹo, hạn sử dụng, đã sử dụng như nào thì phải làm sao?</a>
    </li>
</ul>
