<section>
    <div class="container-content">
        <h2 class="title">Mới cập nhật</h2>
        <table>
            <tbody>
                <tr>
                    <td><span class="opacity">Huyền Huyễn</span></td>
                    <td class="w-25 "><h2 class="text-title"> <a href="" class="text-title-link">Nhân Tộc Trấn Thủ Sứ</a></h2></td>
                    <td class="w-25 "><a href="" class="text-chapter">Chương 519: Nhân tộc huyết mạch (hai hợp một)</a></td>
                    <td>Bạch Câu Dịch Thệ</td>
                    <td>
                        <span class="opacity">
                            một phút trước
                        </span>
                    </td>
                </tr>
                <tr>
                    <td><span class="opacity">Huyền Huyễn</span></td>
                    <td class="w-25 "><h2 class="text-title"> <a href="" class="text-title-link"> Có Bốn Mươi Tám Kiện Teigu Ta Lại Chỉ Muốn Dựa Vào Chính Mình</a></h2></td>
                    <td class="w-25 "><a href="" class="text-chapter">Chương 519: Nhân tộc huyết mạch (hai hợp một)</a></td>
                    <td>Bạch Câu Dịch Thệ</td>
                    <td>
                        <span class="opacity">
                            một phút trước
                        </span>
                    </td>
                   
                </tr>
            </tbody>
        </table>
    </div>
</section>
